.cartSummary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0 20px;
}

.cartSummary h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin: 0.83em 0;
}

.cartSummaryList {
    width: 100%;
}

.productItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid var(--light-gray);
}

.productItem:first-child {
    border-top: 1px solid var(--light-gray);
}

.nameAndDescription {
    display: flex;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
}

.nameAndDescription span:first-child{
    font-weight: 600;
    font-size: 16px;
}

.nameAndDescription span:nth-child(2) {
    font-weight: normal;
    font-size: 12px;
}

.countingProducts {
    display: flex;
    margin-right: 55px;
    border: 1px solid var(--light-purple);
}

.decrement, .increment {
    font-size: 16px;
    border: none;
    background-color: var(--white);
    cursor: pointer;
    padding: 1px 6px;
}

.quantityInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
}

.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price {
    font-weight: 600;
    font-size: 14px;
    min-width: 50px;
    margin-right: 50px;
}