.pageWrapper {
    background-color: var(--white);
    width: 100%;
    min-height: 100vh;
}

.checkoutPageWrapper {
    display: flex;
    background-color: var(--white);
    width: 100%;
    min-height: 100vh;
    color: #001246;
}

.pageWrapper h2 {
    text-align: center;
    margin: 0.83em 0;
}

.welcomePage {
    text-decoration: none;
    padding: 0 20px 0;
}

.cartAndSummaryWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}